# Data Cleaning

In [1]:
# import the library
%matplotlib inline

import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')

# convert scientific notation to decimals
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# 1. Load Datasets

In [2]:
#Source file: https://www.kaggle.com/usdot/flight-delays#flights.csv

#Main dataset
df_delayed_flights = pd.read_csv('../data/flights.csv', low_memory=False)

#Complementary datasets
df_airports = pd.read_csv('../data/airports.csv', low_memory=False)
df_airlines = pd.read_csv('../data/airlines.csv', low_memory=False)

# 2. Summarize the data

In [4]:
print('------- Main Dataset, Flights -------')
print(df_delayed_flights.shape)
print(df_delayed_flights.columns)
print(df_delayed_flights.head())
print(df_delayed_flights.describe())

print('\n ------- Airports -------')
print(df_airports.shape)
print(df_airports.columns)
print(df_airports.head())
print(df_airports.describe())

print('\n ------- Airlines -------')
print(df_airlines.shape)
print(df_airlines.columns)
print(df_airlines.head())
print(df_airlines.describe())

------- Main Dataset, Flights -------
(5819079, 31)
Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')
   YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0  2015      1    1            4      AS             98      N407AS
1  2015      1    1            4      AA           2336      N3KUAA
2  2015      1    1            4      US            840      N171US
3  2015      1    1            4      AA            258      N3HYAA
4  2015      1    1            4      AS            135      N527AS

  ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE      ...        \
0            ANC                 SEA                    5      ...
1            LAX                 PBI                   10      ...
2            SFO                 CLT                   20      ...
3            LAX                 MIA                   20      ...
4            SEA                 ANC                   25      ...

   ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  CANCELLATION_REASON  \
0        408.00         -22.00         0          0                  NaN
1        741.00          -9.00         0          0                  NaN
2        811.00           5.00         0          0                  NaN
3        756.00          -9.00         0          0                  NaN
4        259.00         -21.00         0          0                  NaN

   AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  \
0               nan             nan            nan                  nan
1               nan             nan            nan                  nan
2               nan             nan            nan                  nan
3               nan             nan            nan                  nan
4               nan             nan            nan                  nan

   WEATHER_DELAY
0            nan
1            nan
2            nan
3            nan
4            nan

[5 rows x 31 columns]
            YEAR      MONTH        DAY  DAY_OF_WEEK  FLIGHT_NUMBER  \
count 5819079.00 5819079.00 5819079.00   5819079.00     5819079.00
mean     2015.00       6.52      15.70         3.93        2173.09
std         0.00       3.41       8.78         1.99        1757.06
min      2015.00       1.00       1.00         1.00           1.00
25%      2015.00       4.00       8.00         2.00         730.00
50%      2015.00       7.00      16.00         4.00        1690.00
75%      2015.00       9.00      23.00         6.00        3230.00
max      2015.00      12.00      31.00         7.00        9855.00

       SCHEDULED_DEPARTURE  DEPARTURE_TIME  DEPARTURE_DELAY   TAXI_OUT  \
count           5819079.00      5732926.00       5732926.00 5730032.00
mean               1329.60         1335.20             9.37      16.07
std                 483.75          496.42            37.08       8.90
min                   1.00            1.00           -82.00       1.00
25%                 917.00          921.00            -5.00      11.00
50%                1325.00         1330.00            -2.00      14.00
75%                1730.00         1740.00             7.00      19.00
max                2359.00         2400.00          1988.00     225.00

       WHEELS_OFF      ...        SCHEDULED_ARRIVAL  ARRIVAL_TIME  \
count  5730032.00      ...               5819079.00    5726566.00
mean      1357.17      ...                  1493.81       1476.49
std        498.01      ...                   507.16        526.32
min          1.00      ...                     1.00          1.00
25%        935.00      ...                  1110.00       1059.00
50%       1343.00      ...                  1520.00       1512.00
75%       1754.00      ...                  1918.00       1917.00
max       2400.00      ...                  2400.00       2400.00

       ARRIVAL_DELAY   DIVERTED  CANCELLED  AIR_SYSTEM_DELAY  SECURITY_DELAY  \
count     5714008.00 5819079.00 5819079.00        1063439.00      1063439.00
mean            4.41       0.00       0.02             13.48            0.08
std            39.27       0.05       0.12             28.00            2.14
min           -87.00       0.00       0.00              0.00            0.00
25%           -13.00       0.00       0.00              0.00            0.00
50%            -5.00       0.00       0.00              2.00            0.00
75%             8.00       0.00       0.00             18.00            0.00
max          1971.00       1.00       1.00           1134.00          573.00

       AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
count     1063439.00           1063439.00     1063439.00
mean           18.97                23.47           2.92
std            48.16                43.20          20.43
min             0.00                 0.00           0.00
25%             0.00                 0.00           0.00
50%             2.00                 3.00           0.00
75%            19.00                29.00           0.00
max          1971.00              1331.00        1211.00

[8 rows x 26 columns]

 ------- Airports -------
(322, 7)
Index(['IATA_CODE', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE',
       'LONGITUDE'],
      dtype='object')
  IATA_CODE                              AIRPORT         CITY STATE COUNTRY  \
0       ABE  Lehigh Valley International Airport    Allentown    PA     USA
1       ABI             Abilene Regional Airport      Abilene    TX     USA
2       ABQ    Albuquerque International Sunport  Albuquerque    NM     USA
3       ABR            Aberdeen Regional Airport     Aberdeen    SD     USA
4       ABY   Southwest Georgia Regional Airport       Albany    GA     USA

   LATITUDE  LONGITUDE
0     40.65     -75.44
1     32.41     -99.68
2     35.04    -106.61
3     45.45     -98.42
4     31.54     -84.19
       LATITUDE  LONGITUDE
count    319.00     319.00
mean      38.98     -98.38
std        8.62      21.52
min       13.48    -176.65
25%       33.65    -110.84
50%       39.30     -93.40
75%       43.15     -82.72
max       71.29     -64.80

 ------- Airlines -------
(14, 2)
Index(['IATA_CODE', 'AIRLINE'], dtype='object')
  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways
       IATA_CODE                 AIRLINE
count         14                      14
unique        14                      14
top           AS  Frontier Airlines Inc.
freq           1                       1

# 3. Data Cleaning

## 3.1. Merge Columns - DATE

In [6]:
df_delayed_flights['DATE'] = pd.to_datetime(df_delayed_flights[['YEAR','MONTH', 'DAY']])
print(df_delayed_flights.columns)

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'DATE'],
      dtype='object')

## 3.2. Remove not relevant and duplicated columns

In [7]:
df_delayed_flights = df_delayed_flights.drop(['YEAR','DAY','DAY_OF_WEEK'], axis=1)
df_delayed_flights = df_delayed_flights.drop(['TAXI_OUT','TAXI_IN','WHEELS_OFF', 'WHEELS_ON'], axis=1)
print(df_delayed_flights.columns)

df_airports = df_airports[['IATA_CODE','AIRPORT']]
print(df_airports.columns)

Index(['MONTH', 'AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'DEPARTURE_DELAY', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME',
       'DISTANCE', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
       'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY', 'DATE'],
      dtype='object')
Index(['IATA_CODE', 'AIRPORT'], dtype='object')

## 3.3. Rename Columns

In [8]:
df_airports.columns = ['AIRPORT_CODE','AIRPORT_NAME']
df_airlines.columns = ['AIRLINE_CODE','AIRLINE_NAME']

## 3.4. Change type

In [9]:
# Function to convert from 'HHMM' string to datetime.time
# Reference: https://www.kaggle.com/fabiendaniel/predicting-flight-delays-tutorial

import datetime

def format_time(time_string):
    
    if isinstance(time_string, datetime.time):
        return time_string
    
    if pd.isnull(time_string):
        return np.nan
    
    else:
        if time_string == 2400: #12 midnight
            time_string = 0
            
        time_string = "{0:04d}".format(int(time_string)) #Format the string to be as 4 decimals (hh:mm)
        formated_time = datetime.time(int(time_string[0:2]), int(time_string[2:4])) #Split the 4 digits into 2 parts
        return formated_time

In [10]:
# Call the Function:

df_delayed_flights['SCHEDULED_DEPARTURE'] = df_delayed_flights['SCHEDULED_DEPARTURE'].apply(format_time)
df_delayed_flights['DEPARTURE_TIME'] = df_delayed_flights['DEPARTURE_TIME'].apply(format_time)
df_delayed_flights['SCHEDULED_ARRIVAL'] =df_delayed_flights['SCHEDULED_ARRIVAL'].apply(format_time)
df_delayed_flights['ARRIVAL_TIME'] = df_delayed_flights['ARRIVAL_TIME'].apply(format_time)

#Print a sample..
df_delayed_flights.loc[:5, ['SCHEDULED_DEPARTURE', 'SCHEDULED_ARRIVAL', 'DEPARTURE_TIME',
                            'ARRIVAL_TIME', 'DEPARTURE_DELAY', 'ARRIVAL_DELAY']]

,SCHEDULED_DEPARTURE,SCHEDULED_ARRIVAL,DEPARTURE_TIME,ARRIVAL_TIME,DEPARTURE_DELAY,ARRIVAL_DELAY
0,00:05:00,04:30:00,23:54:00,04:08:00,-11.00,-22.00
1,00:10:00,07:50:00,00:02:00,07:41:00,-8.00,-9.00
2,00:20:00,08:06:00,00:18:00,08:11:00,-2.00,5.00
3,00:20:00,08:05:00,00:15:00,07:56:00,-5.00,-9.00
4,00:25:00,03:20:00,00:24:00,02:59:00,-1.00,-21.00
5,00:25:00,06:02:00,00:20:00,06:10:00,-5.00,8.00

## 3.5. Change Values

In [11]:
#Replace cancallation reason with meaningful values
df_delayed_flights["CANCELLATION_REASON"].replace({'A':'Airline',
                                                   'B':'Weather',
                                                   'C':'National Air System',
                                                   'D':'Security'}, inplace=True)

df_delayed_flights["CANCELLATION_REASON"].value_counts()

Not_Cancelled          5729195
Weather                  48851
Airline                  25262
National Air System      15749
Security                    22
Name: CANCELLATION_REASON, dtype: int64

## 3.6. Missing values

In [4]:
print("Delayed Flights Missing Values:\n", df_delayed_flights.isnull().sum())
print("Airlines Missing Values:\n", df_airlines.isnull().sum())
print("Airports Missing Values:\n", df_airports.isnull().sum())

Delayed Flights Missing Values:
 YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64
Airlines Missing Values:
 IATA_CODE    0
AIRLINE      0
dtype: int64
Airports Missing Values:
 IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

### a. CANCELLATION_REASON

In [3]:
print("Total number of delayed flights: ", len(df_delayed_flights))
print("Cancelled flights= ", sum(df_delayed_flights['CANCELLED']))
print(df_delayed_flights['CANCELLATION_REASON'].value_counts())

Total number of delayed flights:  5819079
Cancelled flights=  89884
B    48851
A    25262
C    15749
D       22
Name: CANCELLATION_REASON, dtype: int64

#### Conclusion: Number of missing data under the variable "CANCELLATION_REASON" is large since when the flight was not cancelled, no reason code was assigned. We can replace no values with  "Not Cancelled":

In [5]:
df_delayed_flights['CANCELLATION_REASON'] = df_delayed_flights['CANCELLATION_REASON'].fillna('Not_Cancelled')
df_delayed_flights['CANCELLATION_REASON'].isnull().sum()
print(df_delayed_flights['CANCELLATION_REASON'].value_counts())

Not_Cancelled    5729195
B                  48851
A                  25262
C                  15749
D                     22
Name: CANCELLATION_REASON, dtype: int64

### b. DEPARTURE_DELAY & ARRIVAL_DELAY

In [13]:
df_delayed_flights[(df_delayed_flights['DEPARTURE_DELAY'].isnull()) & (df_delayed_flights['ARRIVAL_DELAY'].isnull())].index

Int64Index([     32,      42,      68,      82,      90,     128,     131,
                147,     166,     206,
            ...
            5813861, 5814553, 5816650, 5816994, 5817980, 5818090, 5818157,
            5818318, 5818777, 5818843],
           dtype='int64', length=86153)

#### Conclosion: Flights with no departure delay, doesn't have arrival delay too. (same flights in both columns)

In [17]:

airlines_dep_delays = df_delayed_flights.groupby('AIRLINE', sort=False)['DEPARTURE_DELAY'].mean()
airlines_arr_delays = df_delayed_flights.groupby('AIRLINE', sort=False)['ARRIVAL_DELAY'].mean()

print(airlines_dep_delays)
print(airlines_arr_delays)

AIRLINE
AS    1.79
AA    8.90
US    6.14
DL    7.37
NK   15.94
UA   14.44
HA    0.49
B6   11.51
OO    7.80
EV    8.72
MQ   10.13
F9   13.35
WN   10.58
VX    9.02
Name: DEPARTURE_DELAY, dtype: float64
AIRLINE
AS   -0.98
AA    3.45
US    3.71
DL    0.19
NK   14.47
UA    5.43
HA    2.02
B6    6.68
OO    5.85
EV    6.59
MQ    6.46
F9   12.50
WN    4.37
VX    4.74
Name: ARRIVAL_DELAY, dtype: float64

In [ ]:
# Fill missing values with mean delay for each airline.

for idx in df_delayed_flights.index[df_delayed_flights['DEPARTURE_DELAY'].isnull()]:    
    airline_code = df_delayed_flights.loc[idx,'AIRLINE']
    df_delayed_flights.at[idx,'DEPARTURE_DELAY'] = airlines_dep_delays.iloc[airline_code]
    df_delayed_flights.at[idx,'DEPARTURE_DELAY'] = airlines_arr_delays.iloc[airline_code]

# 4. Remove Outliers

In [ ]:
df_delayed_flights[["DEPARTURE_DELAY","ARRIVAL_DELAY"]].plot.box()
plt.show()

In [ ]:
plt.hist(df_delayed_flights['ARRIVAL_DELAY'], bins=150)
plt.title("Arrival Delays")
plt.show()

plt.hist(df_delayed_flights['DEPARTURE_DELAY'], bins=150)
plt.title("Departure Delays")
plt.show()

In [ ]:
#Determine Outliers

mean_arrival_delays = np.mean(df_delayed_flights['ARRIVAL_DELAY'] )
sd_arrival_delays = np.std(df_delayed_flights['ARRIVAL_DELAY'])

mean_departure_delays = np.mean(df_delayed_flights['DEPARTURE_DELAY'])
sd_departure_delays = np.std(df_delayed_flights['DEPARTURE_DELAY'])

print('Arrival Delays:\t \t Mean = {0} \t SD = {1}'.format(mean_arrival_delays, sd_arrival_delays))
print('Departure Delays:\t Mean = {0} \t SD = {1}'.format(mean_departure_delays, sd_departure_delays))

In [ ]:
#Arrrival_delay or Departure_delay != 0 

arrival_delays = df_delayed_flights[df_delayed_flights['ARRIVAL_DELAY'] != 0.00]['ARRIVAL_DELAY']
departure_delays = df_delayed_flights[df_delayed_flights['DEPARTURE_DELAY'] != 0.00]['DEPARTURE_DELAY']

print(arrival_delays.shape)


mean_ad = np.mean(arrival_delays)
sd_ad = np.std(arrival_delays)

mean_dd = np.mean(departure_delays)
sd_dd = np.std(departure_delays)

print("With removing on-time flights:")

print('Arrival Delays:\t \t Mean = {0} \t SD = {1}'.format(mean_ad, sd_ad))
print('Departure Delays:\t Mean = {0} \t SD = {1}'.format(mean_dd, sd_dd))

In [ ]:
# Removing
flights_to_remove = []

# remove based on arrival and departure delays (normal distribution)
flights_to_remove = flights_to_remove + list(df_delayed_flights[df_delayed_flights['ARRIVAL_DELAY'] > mean_ad + 3.0* sd_ad].index)
flights_to_remove = flights_to_remove + list(df_delayed_flights[df_delayed_flights['ARRIVAL_DELAY'] < mean_ad - 3.0* sd_ad].index)

flights_to_remove = flights_to_remove + list(df_delayed_flights[df_delayed_flights['DEPARTURE_DELAY'] > mean_dd + 3.0* sd_dd].index)
flights_to_remove = flights_to_remove + list(df_delayed_flights[df_delayed_flights['DEPARTURE_DELAY'] < mean_dd - 3.0* sd_dd].index)

print('')
print('# Flights to remove', len(flights_to_remove))

In [ ]:

new_delayed_flights = df_delayed_flights[~df_delayed_flights.index.isin(flights_to_remove)]
print("Was: ", df_delayed_flights.shape, " Now: ", new_delayed_flights.shape)

In [ ]:

plt.hist(new_delayed_flights['ARRIVAL_DELAY'], bins=150)
plt.title("Arrival Delays")
plt.show()

plt.hist(new_delayed_flights['DEPARTURE_DELAY'], bins=150)
plt.title("Departure Delays")
plt.show()

## 5. Merging datasets

In [ ]:
df_merge_v1 = new_delayed_flights.copy()

#Merge Airlines and Flights dfs
df_merge_v1 = pd.merge(new_delayed_flights, df_airlines, left_on='AIRLINE', right_on='AIRLINE_CODE', how='left')

#Merge Airports and Flights dfs on Origin_Airport and Airport_Code
df_merge_v1 = pd.merge(df_merge_v1, df_airports, left_on='ORIGIN_AIRPORT', right_on='AIRPORT_CODE', how='left')
df_merge_v1.rename(columns={'ORIGIN_AIRPORT':'ORIGIN_AC', #Origin Airport Code
                            'AIRPORT_NAME':'ORIGIN_AIRPORT', #Origin Airport Name
                            'DESTINATION_AIRPORT': 'DESTINATION_AC'}, inplace=True) #Dest Airport Code
df_merge_v1.drop(['AIRLINE','AIRPORT_CODE'], axis=1, inplace=True)

#Merge Airports and Flights dfs on Destination_Airport and Airport_Code
df_merge_v1 = pd.merge(df_merge_v1, df_airports, left_on='DESTINATION_AC', right_on='AIRPORT_CODE', how='left')
df_merge_v1.rename(columns={'AIRPORT_NAME':'DESTINATION_AIRPORT'}, inplace=True) #Dest Airport Name

df_merge_v1.drop('AIRPORT_CODE', axis=1, inplace=True)

In [ ]:
print("Merged Dataframe Columns: \n", df_merge_v1.columns)

df_merge_v1[['ORIGIN_AIRPORT', 'ORIGIN_AC','DESTINATION_AIRPORT', 'DESTINATION_AC']]

## Save file

In [ ]:
df_merge_v1.to_csv('data/flightsmerged.csv', index=False)